.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0.1;
}

.scroll-bar .decrement-arrow {
    -fx-padding:2.25;
}
.scroll-bar .increment-arrow {
    -fx-padding:2.25;
}

.list-view {
    -fx-background-radius: 20;
}


.list-cell:focused {
    -fx-background-color: #9370db;
    -fx-text-fill: white;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.list-view {
    -fx-border-radius: 20;
}

.text-field {
    -fx-background-color: #ffffff, #ffffff;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

.text-area {
    -fx-background-color: #ffffff, #ffffff;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-font-size: 20;
    -fx-padding:1.25;
}